{% extends "posts/post_base.html" %}
{% block post_content %}
<h3>Do you want to delete?</h3>


<form method="post">
  {% csrf_token %}
  <!-- <input type="submit"  value='confirm delete' class='btn btn-danger btn-large' > -->
    <button type="submit" name="button" class='pulse'>Delete</button>
  <!-- <a href="{% url 'posts:single' username=user.username pk=object.pk %} " class='pulse'>Cancel</a> -->
  <a href="{% url 'posts:single' username=user.username pk=object.pk %} "><button type="button" name="button">Cancel</button></a>
</form>
{% endblock %}
