{% extends 'groups/group_base.html' %}
{% block pregroup %}

<h1 style="display:inline;">{{group.name}}</h1>
<div class="class="list-group-item" ">
  <br>

<div class="container">
  {% if user in group.members.all %}
  <a href="{%url 'posts:create' %}"><button type="button" class='pulse' name="button">POST</button></a>
    <a href="{% url 'groups:leave' slug=group.slug %}"><button type="button" name="button" class='pulse'>LEAVE</button></a>
  <!-- <a href="{% url 'groups:leave' slug=group.slug %}" class='xer btn btn-md btn-fill btn-warning'><span class='glyphicon glyphicon-remove-circle'></span>Leave</a> -->
  {% else %}
  <!-- <button type="submit" name="button" href="{% url 'groups:join' slug=group.slug %}">Join</button> -->
  <div class="buttons">
    <h5  style="display:inline;"><button type="button" name="button" class='offset'>Members: {{group.members.count}}</button></h5>

  <a href="{% url 'groups:join' slug=group.slug %}"><button type="button" name="button" class='pulse'>JOIN</button></a>
<!-- <h2> <a href="{% url 'groups:join' slug=group.slug %}" class='offset '>Join</a></h2> -->
  </div>
  {% endif %}
</div>
<br>
{% endblock %}

{% block group_content %}
<div class="matter col-md-8">
  {% if group.posts.count == 0 %}
  <h2>No posts in the group yet!</h2>
  {% else %}
  {% for post in group.posts.all %}
   {% include "posts/_post.html" %}
   <!-- <p>------------------------------------------------------------------------------------------------</p> -->
   {% endfor %}
  {% endif %}
</div>
</div>
{% endblock %}
