<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="{% static 'social/css/about.css' %}">
    <title></title>

  </head>
  <body>
    <div class="box">
    <div class="photu col-lg-6">
 <img class='myphoto' align='center' src="{% static "images/13.jpeg" %}" alt="" width="300px" height="300px;">
 <p></p>
 <h2 align='center' style="padding-top:7px;padding-bottom:70px;">I'm Harshit Singh</h2>

    </div>
  <div class="text col-lg-6">

  <h4 style="padding-top:100px;padding-bottom:17px;text-align:center;"><strong>UI/UX Designer, Full stack devloper, 3-star codechef coder</strong></h4>
  <h4 style="padding-top:40px;padding-bottom:195px;text-align:center;">Hello there NBA fan Myself, Harshit. Made this website for the people who love the game of basketball like me. Share your views and make new friends. Site still under construction so new updates on the way very soon! This website is made using Django framework. It's a single person project so share your reviews/complaints in the contact us section for sure. </h4>
  <br>
  <ul>
    <li>
      <a href="#">
        <i class="fab fa-facebook-f icon"></i>    </a>
    </li>
    <li>
      <a href="#"><i class="fab fa-twitter icon"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
    <li>
      <a href="#"><i class="fab fa-instagram icon"></i></a></li>
  </ul>












  </div>
    </div>

</body>
</html>
