<div class="postmedia">
  <!-- <h3></strong><span ><time class='time'></time></span></h3> -->
<div class="asx">

  <div class="lk">
    <style type="text/css">
    .fa_custom {
    color: pink;
    padding-left: 20px;
    }
    </style>
  <h3 style="display:inline;">{{post.user.username}}</h3> <h9 id='lj' style="display:inline;">{{ post.created_at }}</h9><a href="{% url 'posts:add_comment_to_post' username=post.user.username pk=post.pk %}"><i class="fa fa-comment fa_custom fa-2x" style="display:inline;"></i></a>
</div>
  <h4><span id='textthread' >{{post.message}}</h4>
    {% if user.is_authenticated %}
    <!-- <a class='btn btn-primary btn-comment' href="">Add Comment</a> -->

    {% endif %}
<div class="container">
    {% for comment in post.comments.all %}
    <br>
    <h4 style="display:inline;">{{comment.author}}</h4> <p id='lj' style="display:inline; , padding-left:5px;">{{comment.published_date.date}}</p>
    <p id='lj' >replying to @{{post.user.username}}</p>
      <p id='textthread'>{{comment.text}}</p>
    {% endfor %}
</div>
    <!-- <h1><span style='border:2px black solid; font-size:42px;'>{{post.message|safe}}</span></h1> -->
  <div class="media-body">

    <h5 class='media-heading'>
    <!-- <span class='username'><a href="{% url 'posts:for_user' username=post.user.username %}">@{{ post.user.username }}</a></span>
    <time class='time'><a href="{% url 'posts:single' username=post.user.username pk=post.pk %}">{{ post.created_at }}</a></time> -->
    <!-- {% if post.group %}
		<span class="group-name">in <a href="#">{{ post.group.name }}</a></span>
		{% endif %} -->
  </h5>
     <div class="media-footer">
       {% if user.is_authenticated and post.user == user %}
       <a href="{% url 'posts:delete' pk=post.pk %}"><button type="button" name="button" class='pulse'>Delete</button></a>
       <!-- <a href="{% url 'posts:delete' pk=post.pk %}" class='btn btn-simple'><span class='glyphicon glyphicon-remove text-danger'></span><span class='text-danger icon-label'>Delete</span></a> -->
      {% endif %}
     </div>
  </div>
</div>
<br>
</div>
