{% extends 'base.html' %}

{% block content %}
<div class="container mycontent">


    <h1>Welcome to Basket Social!</h1>
    <!-- <h5>Join Groups and share your views!</h5> -->
      <h5>
      <a href="#" class="er">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              THIS WEEK STATS
          </a></h5>


<div class="row">
<div class="qwerty col-lg-6">


      <div class="blog-card ca">
    <div class="meta">
      <div class="photo" style="background-image: url(https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTcwMzExMzEwNTc0MTAxODM5/lebron-dunk.jpg)"></div>
      <ul class="details">
        <li class="author">PPG : 25 </li>
        <li class="date">ASG : 10</li>
        <li class="date">RPG : 9</li>
  </ul>
    </div>
    <div class="description">
      <h1>Learning to Code</h1>
      <h2 class="ew"><strong>LEBRON JAMES</strong></h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card alt cb">
    <div class="meta">
      <div class="photo" style="background-image: url(https://e0.365dm.com/21/10/1600x900/skysports-nba-luka-doncic-dallas-mavericks_5554205.jpg?20211021142138)"></div>
      <ul class="details">
        <li class="author">PPG : 25 </li>
        <li class="date">ASG : 10</li>
        <li class="date">RPG : 9</li>
      </ul>
    </div>
    <div class="description">
      <h1>Mastering the Language</h1>
      <h2><strong>LUKA DONCIC</strong></h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
  <div class="blog-card cc">
<div class="meta">
  <div class="photo" style="background-image: url(https://www.si.com/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTcwMzExMzEwNTc0MTAxODM5/lebron-dunk.jpg)"></div>
  <ul class="details">
    <li class="author">PPG : 25 </li>
    <li class="date">ASG : 10</li>
    <li class="date">RPG : 9</li>
</ul>
</div>
<div class="description">
  <h1>Learning to Code</h1>
  <h2><strong>LEBRON JAMES</strong></h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
  <p class="read-more">
    <a href="#">Read More</a>
  </p>
</div>
</div>
</div>
<div class="qwerty col-lg-6">
<a href="#" class="er ta">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        TOP SCORER
    </a>
    <br>
    <a href="#" class='er tb'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        TOP REBOUNDS
    </a>
    <br>
    <a href="#" class='er tc'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        TOP ASSISTS
    </a>
<!-- <div class="qwertya col-lg-6">
  <div class="example-1 card">
    <div class="wrapper">
      <div class="date">
        <span class="day">12</span>
        <span class="month">Aug</span>
        <span class="year">2016</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a href="#">LEBRON JAMES</a></h1>
          <p class="text"><strong>LEBRON JAMES</strong></p>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
</div>
</div>
</div>
<div class="vc">
  <div class="container mycontent">
<a href="#" class='er  x'>

    <span></span>
  <h1>  PLAYER OF THE WEEK</h1>
</a>
<div class="row">
  <div id='rt' class="example-1 card ">
    <div class="wrapper">
      <div class="date">
        <span class="day">12</span>
        <span class="month">Aug</span>
        <span class="year">2016</span>
      </div>
      <div class="data">
        <div class="content">
          <span class="author">Jane Doe</span>
          <h1 class="title"><a href="#">LEBRON JAMES</a></h1>
          <p class="text">The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.</p>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-bookmark-o"></a>
          </li>
          <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
          <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
    </div>


    </div>
<!-- <div class="asq"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div> -->


{% endblock %}
